body {
padding-top: 60px;
}
.progress {
margin-bottom: 0;
}
.scale {
clearfix: both;
overflow: hidden;
height: 10px;
margin-bottom: 30px;
}
.threshold {
width: 25%;
float: left;
border-right: 1px solid rgba(0, 0, 0, 0.6);
height: 10px;
}
.threshold:last-child {
border-right: none;
}
.threshold:after {
margin-top: 10px;
content: attr(threshold) '%';
position: absolute;
font-size: 0.75em;
}
